# Specific
Build/
Library/
*.BASE.*.cpp
*.LOCAL.*.cpp
*.BACKUP.*.cpp
*.REMOTE.*.cpp
*.orig
Test/tmp/*
PerforcePlugin

# Output folders
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio 2010 local files
*.vcxproj.user
*.opensdf
*.sdf
*.suo

# Visual Studio local files
.vs/

# Test Ouput
TestResults/

# Sublime files
*.sublime-project
*.sublime-workspace
server.pid

# VI files
*.swp

# JetBrains IDEs files
.idea/

# macOS file information
**.DS_Store

# Object files
***.o