<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TfsPlugin.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <TfsPlugin.Settings>
      <!--TFS Project URL to connect to by default, can be changed at runtime by editing the "Server Override" field in the Version Control section of Editor Settings ex. "https://address.com:port/tfs/ProjectName" -->
      <setting name="DefaultURL" serializeAs="String">
        <value></value>
      </setting>
      <!--Semicolon separated list of file path wildcards to ignore from version control ex. "*/Some.dll;*/Some.pdb"-->
      <setting name="tfsignore" serializeAs="String">
        <value></value>
      </setting>
      <!--Semicolon separated list of file path wildcards to never lock on checkout ex. "*/Some.prefab;*/SomeOther.prefab"-->
      <setting name="tfsnolock" serializeAs="String">
        <value></value>
      </setting>
      <!--Vertical bar separated list of file path extensions to lock on checkout. Most useful when using binary format. ex. ".unity|.prefab|.anim|.controller"-->
      <setting name="ExclusiveCheckoutFileTypes" serializeAs="String">
        <value>.unity|.prefab|.anim|.controller</value>
      </setting>
      <!--Vertical bar separated list of users that will always be forced to work offline. Most useful for automated build user accounts. ex. "serviceAccount1|serviceAccount2"-->
      <setting name="ignoreUsers" serializeAs="String">
        <value></value>
      </setting>
      <!--
        Vertical bar separated list of colon separated TFS server path:boolean pairs. 
        When true, the plugin will checkout ExclusiveCheckoutFileTypes files without a lock if they are currently checked out but not locked.
        When false, the plugin will NOT checkout ExclusiveCheckoutFileTypes files without a lock if they are currently checked out but not locked.
        can be specified per server path
        default value is false
        ex. "$/:false|$/ProjectA:true"
      -->
      <setting name="ShareBinaryFileCheckout" serializeAs="String">
        <value>$/:false</value>
      </setting>
      <!--
        Vertical bar separated list of colon separated TFS server path:boolean pairs.      
        Will set the lock type used when locking ExclusiveCheckoutFileTypes files.
        A check-out lock prevents other users from checking out and making changes to the locked item in their workspaces
        A check-in lock is less restrictive than a check-out lock. If you apply a check-in lock, users can continue to make local changes to the item in other workspaces. 
          However, those changes cannot be checked in until you remove the lock or check in your changes (if the file is non-mergable, one users version will be stomped).
        can be specified per server path
        valid values are None, Checkin or CheckOut
        default value is Checkout
        ex. "$/:Checkout|$/ProjectA:Checkin"
      -->
      <setting name="LockLevels" serializeAs="String">
        <value>$/:Checkout</value>
      </setting>
      <!--
        Boolean value.
        When True Unity will allow the user to save unsaved changes if a ExclusiveCheckoutFileTypes file is unable to be checked out and locked.
        When False Unity will NOT allow the user to save unsaved changes if a ExclusiveCheckoutFileTypes file is unable to be checked out and locked.
        Default value of True.       
        ex. "True"
      -->
      <setting name="AllowSavingLockedExclusiveFiles" serializeAs="String">
        <value>True</value>
      </setting>
    </TfsPlugin.Settings>
  </applicationSettings>
</configuration>