<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TfsPlugin.UnitTestProject.UnitTestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TfsPlugin.UnitTestProject.UnitTestSettings>
            <setting name="ServerPathToUnitTestProject" serializeAs="String">
                <value>&lt;enter ServerItem here&gt;/TfsPlugin.UnitTestProject</value>
            </setting>
            <setting name="TFSServerAddress" serializeAs="String">
                <value>&lt;enter tfs url here&gt;</value>
            </setting>
        </TfsPlugin.UnitTestProject.UnitTestSettings>
    </userSettings>
</configuration>